.moduleContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: stretch; */
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
/****************************************/
/***********************************************/
.sectiom__title-modulo {
  font-size: 2rem;
  margin-top: 20px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  padding: 5px;
}
/************************************************/
.sectionModuloClases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: fit-content;
  min-height: fit-content;
}
.sectionModuloClases article {
  display: flex;
  flex-direction: column;
  background-color: #b6d7db;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  min-width: fit-content;
  cursor: pointer;
}
.sectionModuloClases article p {
  font-size: 1.4rem;

  margin: 10px;
  color: white;
}

.sectionModuloClases article div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionModuloClases article div img {
  width: 40px;
  margin: 10px;
  filter: opacity(0.5);
}

/*************************************************/
.sectiom__title-modulo {
  font-size: 2rem;
  margin-top: 20px;
  border-bottom: 1px solid gray;
  background-color: #fff2d4;
  padding: 5px;
}
