.demo {
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
}
.demo th {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.demo td {
    border:1px sólido #C0C0C0;
    padding:5px;
}