.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  cursor: pointer;
  transition: transform .4s;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  /* min-height: 105px; */
  height: 205px;
  position: relative;
}

.cardHeader img {
  width: 100%;
  /* height: fit-content; */
  /* object-fit:fill; */
  /* margin: 6px; */
  border-radius: 5px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10px;
}

.tag {
  /* background: black; */
  border-radius: 50px;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
  /* color: black; */
  padding: 5px 8px;
  text-transform: uppercase;
  cursor: pointer;
  color: #47bcd4 !important;
}

.tagTeal {
  color: #47bcd4 !important;
}

.userInfo h6{
  margin: 0;
  color :grey;

}

.c__favorito{
  position: absolute;
  top: 115px;
  left: 175px;
}

.c__favorito svg{
  color: rgb(75, 72, 72);
  filter: invert(66%) sepia(0%) saturate(587%) hue-rotate(243deg) brightness(94%) contrast(88%) 
}

.userInfo{
  margin-left: 5px;
}


