/* @font-face {
  font-family: "neon";
  src: url("../../assets/media/fonts/neon_pixel-7.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
} */

@font-face {
  font-family: 'Potra';
  src: url('../../assets/media/fonts/Potra.ttf') format("truetype");
  font-weight: normal; 
  font-style: normal;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  height: 100vh;
}
a{
  text-decoration: none;
}

/****************************************/
/***********************************************/
.sectiom__title-modulo{
font-size: 4rem;
margin-top: 20px;
border-bottom: 1px solid gray;
background-color: transparent;
padding: 5px;
}

.sectiom__title-modulo h1{
  font-size: 2.4rem;
  font-family: "potra";
}

.sectiom__title-modulo h1:hover{
  text-shadow: 0px 0px 5px rgb(240, 240, 240)
}

/************************************************/
.section__modulo-clases{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: fit-content;
}
.section__modulo-clases article{
  display: flex;
  flex-direction: column;
  background-color:#b6d7db;
  padding-top: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: fit-content;
  cursor: pointer;
}
.section__modulo-clases article p{
  font-size: 1.4rem;
 
  margin: 10px;
  color:white;
}

.section__modulo-clases article div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section__modulo-clases article div img{
  width: 40px;
  margin: 10px;
  filter: opacity(.5);
}

/*************************************************/
.sectiom__title-modulo{
  font-size: 2rem;
  margin-top: 20px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  padding: 5px;
  }
