.button-profile{
    padding: 5px;
    border: 3px solid #FFFF00;
    width: 160px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    z-index: 10000;
    background-color: #0000  no-repeat 90% 50%;
    left: 400px;
    top: 0;
}

.button-bootcamp{
    padding: 5px;
    border: 3px solid #FFFF00;
    width: 160px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black ;
    z-index: 10000;
    background-color: #0000  initial 90% 50%;
    left: 240px;
    top: 0;
}

.button-catalog{
    padding: 5px;
    border: 3px solid #FFFF00;
    width: 160px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black ;
    z-index: 10000;
    background-color:#0000  no-repeat 90% 50%;
    position: relative;
}

